.heading {
    height: 800px;
    width: 1200px;
    position: relative;
    background-image: url("red-painting-1950-1.jpg");
}
#text1 {
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "Gill Sans", "Arial", sans-serif;
    left: 600px;
    z-index: 2;
}
#text2 {
    position: absolute;
    color: white;
    font-size: 16px;
    font-weight: normal;
    font-family: "Gill Sans", "Arial", sans-serif;
    left: 600px;
    top: 430px;
    z-index: 2;
}
.sasha {
    margin: auto;
    height: 150px;
    width: 800px;
}
#image2 {
    margin-right: auto;
    height: 150px;
    width: 150px;
}
.comm1 {
    margin: auto;
    height: 150px;
    width: 800px;
}
#image3 {
    margin-left: auto;
    height: 150px;
    width: 150px;
}
.comm2 {
    margin: auto;
    height: 150px;
    width: 800px;
}
#image4 {
    margin-right: auto;
    height: 150px;
    width: 150px;
}
h3 {
    color: darkgrey;
    font-family: "Gill Sans", "Arial", sans-serif
}
p {
    color: darkgrey;
    font-family: "Gill Sans", "Arial", sans-serif
}
