body .heading {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url("red-painting-1950-1.jpg");
}

body #text1 {
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "Gill Sans", "Arial", sans-serif;
    text-align: center;
    top: 400px;
    left: 10px;
}

body #text2 {
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: normal;
    font-family: "Gill Sans", "Arial", sans-serif;
    text-align: center;
    top: 450px;
    left: 10px;
}

body .sasha {
    height: 150px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

body #image2 {
    float: left;
    height: 150px;
}

body .comm1 {
    height: 150px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

body #image3 {
    float: right;
    height: 150px;
}

body .comm2 {
    height: 150px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

body #image4 {
    float: left;
    height: 150px;
}

body {
    color: darkgrey;
    font-family: "Gill Sans", "Arial", sans-serif
}
